/*CSS User Stylesheet*/
/*Divided into Elements, IDs and Classes sections*/

/*Elements:*/

body{
    background-color: #FAFAFA;
    font-family: Rockwell,Georgia-Bold,serif;
}

select.dc-select-menu{
   background-color:  #1BB32A;
}

img {

    padding: 20px 20px;
}

h1{
    color: black;
    text-align: center;
}

/*IDs*/

#number-projects-nd {
   font-size: 60px;
}

#total-donations-nd {
   font-size: 60px;
}

#bottombutton{
    text-align: center;
}

#total-projects {

   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
}

#net-donations {

   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
}


#phototext{
    margin-top: -330px;
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: 100;
}

/*Classes*/

.dc-select-menu {
   background: red;
   width: 100%;
   border: none;
   position: relative;
   height: 31px;
   font-size: 15px;
   color: white ;
   vertical-align: middle;
   text-align: center;
   padding-top: 4px;
   padding-bottom: 0px;
}

.my-bar-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

.chartBackground{
   background-color: #FAFAFA;
   color: black;
   border: 2px solid black;
   border-radius: 10px;
   margin: 20px;
}

.chart-title{
   color: black !important;
   font-weight: bold;
}

.chart-stage-white{
   background-color: #FFFFFF;
}

.titleDisplay {
    display: inline-block;
    margin-right: 55px;
    margin-top: 20px;
    border: 5px solid  #EF5F3C;
    border-radius: 50px;
    padding: 10px;
}

.dashboardButton{
   background-color: #1CBA2C;
   border-color: #1CBA2C;
    margin-bottom: 10px;
}

.btn-primary:hover{
   background-color:  #1BB32A;
   border-color:  #1BB32A;
}

.btn-primary:focus {
   border-color: #1CBA2C;
   background-color:#1CBA2C ;
}

.topbar{
    background-color: white;
    height: 100px;
    white-space: nowrap;
    text-align: center;


    border-top: 3px solid #EF5F3C;
}

.backgroundImage{
    background-image: url(https://cdn.donorschoose.net/images/homepage/homepage-intro-b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 50%;
    height: 350px;
    opacity: .2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #000000;
    z-index: -1;
}

.mainHeader{
font-size: 40px;
    font-weight: 100;
}

.fontweigthnormal{
    font-weight: normal;
}

.dc-chart g.row text {
   fill: black;
   font-size: 12px;
}