
#number-projects-nd {
   font-size: 60px;
}

#total-donations-nd {
   font-size: 60px;
}


.dc-chart g.row text {
   fill: black;
   font-size: 12px;
}

#total-projects {
   background: #3D4A57;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
}

#net-donations {
   background: #3D4A57;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
}


.dc-select-menu {
   background: red;
   width: 100%;
   border: none;
   position: relative;
   height: 31px;
   font-size: 15px;
   color: white ;
   vertical-align: middle;
   text-align: center;
   padding-top: 4px;
   padding-bottom: 0px;
}

.my-bar-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

.chartBackground{
   background-color: #FAFAFA;
   color: black;
   border: 2px solid black;
   border-radius: 10px;
   margin: 20px;
}

.chart-title{
   color: black !important;
}

select.dc-select-menu{
   background-color:  #1BB32A;
}

.chart-stage-white{
   background-color: #FFFFFF;
}

.navbar{
   height: 25px;
}

.navbar-brand {
   float: none;
   color: black;
}

.buttoncolor{
   background-color: #1BB32A;
   border-color: #1BB32A
}

.btn-primary:hover{
   background-color: #1BB32A;
   border-color: #159022;
}

.btn-primary{
   border-color: #159022;
   background-color:#1BB32A ;
}

.btn-primary:focus {
   border-color: #159022;
   background-color:#1BB32A ;
}

.navbar-inverse{
   background-color: white;
}

h1{
    color: black
}