<!DOCTYPE html>
<html>
<head>
   <title>School Donations Dashboard</title>
   <link rel="stylesheet" href="../static/lib/css/bootstrap.min.css">
   <link rel="stylesheet" href="../static/lib/css/keen-dashboards.css">
   <link rel="stylesheet" href="../static/lib/css/dc.css">
   <link rel="stylesheet" href="../static/css/custom.css">
    <link rel="stylesheet" href="../static/lib/css/introjs.css"/>

 </head>
<!--END OF HEAD

<!--START OF BODY-->
<body class="application">

<!--NAVBAR-->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

   <div class="container-fluid">
       <div class="navbar-header">
           <a class="navbar-brand">DonorsChoose.org Dashboard </a>
           <button type="button" class="intro_button btn btn-primary" autofocus onclick="introJs().start();">Start Tour!</button>
       </div>
   </div>

</div>
<!--END OF NAVBAR-->


<!--NEW MAIN CONTAINER-->
<div  id="outer" class="container-fluid background">

  <!--FIRST ROW-->
    <div class = "row">

        <!--FIRST COLUMN COL-SM-6-->
        <div class = "col-sm-6"><!--1st column-->

            <!--WRAPPER FOR MAP-->
            <div class="chart-wrapper chartBackground">

                <!--TITLE FOR MAP-->
                <div class = "chart-title">
                    Hover Or Click Over Your State On The Map Or Use The Dropdown Box:
                </div>

                <!--DIV WITH ID FOR MAP-->
                <div class="chart-stage" >
                    <div id="funding-map" data-step="10"
                     data-intro="This map allows you to select information per state. Click on your chosen state"
                     style="font-weight: normal" data-position="left">
                    </div>
                </div> <!--class="chart-stage"-->


                <!-- Dropdown menu select by state -->
                <div class="chart-wrapper chartBackground">
                            <div class="chart-title">
                                Select Your State
                            </div>
                            <div class="chart-stage">
                                <div id="menu-select" data-step="5"
                                    data-intro="You can sort the information per state through this select box"
                                    style="font-weight: normal" data-position="right"></div>
                            </div>
                </div>
                  <!-- Close dropdown menu select by state-->

            <!--END OF WRAPPER FOR MAP-->
            </div>

        <!--END OF FIRST COLUMN COL-SM-6-->
        </div>

       <!--START OF SECOND COLUMN COL-SM-6-->
        <div class = "col-sm-6">

                <!-- TOTAL NUMBER OF DONATIONS BOX-->
                    <div class = "col-sm-6">
                        <div class = "chart-wrapper chartBackground">
                            <div class="chart-title">
                           Total Number of Donations
                             </div>
                            <div class="chart-stage">
                           <div id="number-projects-nd" data-step="6"
                                data-intro="This box shows the total number of donations overall, per state or per city "
                                style="font-weight: normal" data-position="right"></div>
                            </div>
                         </div>
                    </div> <!-- Close Donation Box Column Col-sm-3-->

               <!-- Total Donations in US Dollars -->
                    <div class = "col-sm-6">
                        <div class="chart-wrapper chartBackground">
                            <div class="chart-title">
                           Total Donations in USD
                            </div>

                         <div class="chart-stage">
                           <div id="total-donations-nd" data-step="7"
                                data-intro="This box shows the total amount of donations in USD"
                                style="font-weight: normal" data-position="right"></div>
                            </div>
                        </div>
                    </div> <!-- Close Total Donations in US dollars Col-sm-3 -->



        <!-- Timeline Chart -->
         <div class = "col-sm-12">
            <div class="chart-wrapper chartBackground">
                       <div class="chart-title">
                           Number of Donations
                       </div>
                       <div class="chart-stage chart-stage-white">
                           <div id="time-chart" data-step="1"
                                data-intro="This graph shows the number of donations per month between October 2002 and September 2007"
                                style="font-weight: normal" data-position="right"></div>
                       </div>
                 </div>
        </div>
               <!-- End of Timeline Chart -->


        </div> <!--"col-sm-6"-->
    </div> <!-- "row"-->



    <!--SECOND ROW-->
   <div class="row">

       <div class="col-sm-6">
                <!-- Primary Focus Area by total donations-->

           <div class="chart-wrapper chartBackground" >
               <div class="chart-title">
                   Primary Focus Area by Total Donations
               </div>
               <div class="chart-stage chart-stage-white">
                   <div id="focus-area2" class="my-bar-chart" data-step="12"
                     data-intro="This graph chart shows the number of projects per donation"
                     style="font-weight: normal" data-position="top"></div>
               </div>
           </div>

       <!-- Focus Area by total donations -->
       </div>

       <!-- Poverty -->
       <div class="col-sm-6">
           <div class="chart-wrapper chartBackground">
               <div class="chart-title">
                   Poverty Level
               </div>
               <div class="chart-stage chart-stage-white">
                   <div id="poverty-level-row-chart" data-step="4"
                        data-intro="This graph shows the number of projects per poverty level of school"
                        style="font-weight: normal" data-position="left"></div>
               </div>
           </div>
       </div>
       <!-- Poverty -->

   </div> <!--End of SECOND ROW-->


    <div class="row"> <!-- Start of Third Row-->
                <!-- Resources -->
               <div class="col-sm-4">
                   <div class="chart-wrapper chartBackground">
                       <div class="chart-title">
                           Resources Type
                       </div>
                       <div class="chart-stage chart-stage-white">
                           <div id="resource-type-row-chart" data-step="2"
                                data-intro="This graph shows the number of projects per resource type"
                                style="font-weight: normal" data-position="right"></div>
                       </div>
                   </div>
               </div>
               <!-- Resources -->


               <!-- funding Pie -->
               <div class="col-sm-3">
                   <div class="chart-wrapper chartBackground">
                       <div class="chart-title">
                           Funding Status
                       </div>
                       <div class="chart-stage chart-stage-white">
                           <div id="funding-chart" data-step="3"
                                data-intro="This pie-chart shows the number of projects that completed, not completed and have expired"
                                style="font-weight: normal" data-position="right"></div>
                       </div>
                   </div>
               </div>
               <!-- funding Pie -->


    <!-- Focus Area -->
       <div class="col-sm-5">
           <div class="chart-wrapper chartBackground">
               <div class="chart-title">
                   Primary Focus Area by Number of Projects
               </div>
               <div class="chart-stage chart-stage-white">
                   <div id="focus-area" data-step="11"
                     data-intro="This pie chart shows the number of projects per focus area"
                     style="font-weight: normal" data-position="right"></div>
               </div>
           </div>
       </div>
       <!-- Focus Area -->

    </div> <!-- Close of third row-->




</div> <!--id="outer" class= "container-fluid background-->

<script src="../static/lib/js/jquery.min.js"></script>
<script src="../static/lib/js/bootstrap.min.js"></script>
<script src="../static/lib/js/crossfilter.js"></script>
<script src="../static/lib/js/d3.js"></script>
<script src="../static/lib/js/dc.js"></script>
<script src="../static/lib/js/queue.js"></script>

<script src="../static/lib/js/keen.min.js"></script>
<script src='../static/js/graph.js' type='text/javascript'></script>
<script src= "../static/lib/js/intro.js" type="text/javascript"></script>
</body>
</html>