<body class="application" style="background-image:url(../static/Images/Materials.jpg)">



Old Div for Map
    <!-- div for map-->
         <div class="chart-wrapper col-sm-6">
            <div class="chart-title">
                Total Donations by state
            </div>
            <div class="chart-stage">
                <div id="funding-map" data-step="10"
                     data-intro="This map allows you to select information per state. Click on your chosen state"
                     style="font-weight: normal" data-position="left"></div>
            </div>
        </div>
        <!--div for map-->



    <!-- Dropdown menu select by city-->
       <div class="col-sm-6">
           <div class="chart-wrapper">
               <div class="chart-title">
                   Donation City
               </div>
               <div class="chart-stage">
                   <div id="menu-select2"
                        data-step="9"
                        data-intro="You can sort the information per city through this select box"
                        style="font-weight: normal" data-position="right"></div>
               </div>
           </div>
       </div>
       <!-- menu select -->


       <!-- Total Number of Donations Metric-->
       <div class="col-sm-2">
           <div class="chart-wrapper">
               <div class="chart-title">
                   Total Number of Donations
               </div>
               <div class="chart-stage" style=" background: #33CC99;
                   position: relative;
                   font-size: 29px;
                   color: white;
                   vertical-align: middle;
                   text-align: center;
                   padding-top: 12px;
                   padding-bottom: 0px;">
                   <div id="number-projects-nd" data-step="6"
                        data-intro="This box shows the total number of donations overall, per state or per city "
                        style="font-weight: normal" data-position="right"></div>
               </div>
           </div>
       </div>
       <!-- Metric 1 -->

       <!-- Total Donations in US Dollars Metric-->
       <div class="col-sm-2">
           <div class="chart-wrapper">
               <div class="chart-title">
                   Total Donations in USD
               </div>
               <div class="chart-stage">
                   <div id="total-donations-nd" data-step="7"
                        data-intro="This box shows the total amount of donations in USD"
                        style="font-weight: normal" data-position="right"></div>
               </div>
           </div>
       </div>
       <!-- Metric 2 -->


       <!-- Dropdown menu select by state -->
       <div class="col-sm-6">
           <div class="chart-wrapper">
               <div class="chart-title">
                   Donation State
               </div>
               <div class="chart-stage">
                   <div id="menu-select" data-step="5"
                        data-intro="You can sort the information per state through this select box"
                        style="font-weight: normal" data-position="right"></div>
               </div>
           </div>
       </div>
       <!-- menu select by state-->

<!-- city Pie -->
               <div class="col-sm-6">
                   <div class="chart-wrapper">
                       <div class="chart-title">
                           School City
                       </div>
                       <div class="chart-stage">
                           <div id="city-chart" data-step="8"
                                data-intro="This pie chart shows the number of projects per city, overall or by state"
                                style="font-weight: normal" data-position="right"></div>
                       </div>
                   </div>
               </div>
               <!-- city Pie -->